# Server only — set in Vercel Environment Variables (not NEXT_PUBLIC)
# just added to run the app locally
NEWS_API_KEY=2bb0851f1896405d9065b6a371c86a72

# Optional overrides (defaults shown)
NEWS_API_URL=https://newsapi.org
NEWS_API_VERSION=v2
